@import '../../../node_modules/conecto-ui-components/dist/_base/colors';
@import '../../../node_modules/conecto-ui-components/dist/_base/functions';
@import '../../../node_modules/conecto-ui-components/dist/_base/mixins';

.creditCard-form {
  border: 1px solid $veryPaleBrown;
  border-radius: 10px;
  padding: 40px;

  .card-input {
    .to-input-field {
      padding-top: 11px;
    }
  }

  .btn-container {
    text-align: right;
    padding-top: 20px;
  }
}

.payment-sources-display {
  .payment-source-card {
    margin-top: 20px;

    header,
    .infos {
      display: flex;
      flex: 0 1 auto;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      font-family: StyreneA;
      font-size: sizeToRem(14);
      font-weight: normal;
      line-height: normal;
      letter-spacing: 0.02em;
      color: $darkBrown;
      margin-top: 0px;

      i {
        font-size: sizeToRem(18);
        margin-right: 10px;
      }
    }

    .date {
      font-family: Sailec;
      font-size: sizeToRem(12);
      color: $paleBrown;
      text-align: right;
    }

    .infos {
      padding-top: 5px;
      font-family: Sailec;
      font-size: sizeToRem(14);
      color: $darkBrown;
    }

    footer {
      padding-top: 20px;
      text-align: right;

      &>span {
        font-family: Sailec;
        font-size: sizeToRem(12);
        color: $paleBrown;
        margin-right: 10px;
      }
    }
  }
}

.addresses-display {
  .address-card {
    margin-top: 20px;

    header{
      display: flex;
      flex: 0 1 auto;
      justify-content: space-between;
      align-items: normal;
    }

    address {
      font-family: Sailec;
      font-size: sizeToRem(14);
      font-weight: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.02em;
      color: $darkBrown;
      margin-top: 0px;

      i {
        font-size: sizeToRem(14);
        margin-right: 10px;
      }
      .range {
        margin-top: 5px;
        font-size: sizeToRem(12);
      }
    }

    .date,
    .assignedTo {
      font-family: Sailec;
      font-size: sizeToRem(12);
      color: $paleBrown;

      .name {
        font-size: sizeToRem(14);
      }
    }

    .date {
      text-align: right;
    }

    .assignedTo{
      margin-top: 10px;
    }

    footer {
      padding-top: 20px;
      text-align: right;

      &>span {
        font-family: Sailec;
        font-size: sizeToRem(12);
        color: $paleBrown;
        margin-right: 10px;
      }
    }
  }
}

.address-autocomplete-card {
  address {
    font-style: normal;
    font-family: Sailec;
    font-size: sizeToRem(12);
    color: $darkBrown;
  }

  .address-submitButton {
    text-align: right;
    padding: 40px 0 0;

    p {
      font-style: normal;
      font-family: Sailec;
      font-size: sizeToRem(12);
      color: $paleBrown;
    }
  }
}

#ggmap {
  margin-top: 45px;
  border-radius: 10px;
  border: 1px solid $veryPaleBrown;
}

#employee-form,
#myCompany-form,
#myCompany-legalInfos-card,
#signInInfos-form,
#personalInfos-form {
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .to-input {
    margin-bottom: 10px;
  }

  .employee-submitButton,
  .myCompany-submitButton,
  .signInInfos-submitButton,
  .personalInfos-submitButton {
    padding-top: 20px;
    text-align: right;
  }
}

#myCompany-legalInfos-card {
  margin-top: 20px;

  p {
    font-family: Sailec;
    font-size: sizeToRem(14);
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.02em;
    color: $darkBrown;
  }

  .legal-info {
    font-family: Sailec;
    font-size: sizeToRem(14);
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
    letter-spacing: 0.02em;
    color: $paleBrown;
    margin-top: 10px;
    margin-bottom: 10px;

    .legal-label {
      font-size: sizeToRem(16);
      color: $darkBrown;
    }
  }
}

.employee-form-card {
  margin-bottom: 20px;
}

.employees-display {
  .employee-card-col {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .employee-card {
    padding: 20px 40px;

    .name {
      font-family: Sailec;
      font-size: sizeToRem(14);
      font-weight: normal;
      font-style: normal;
      line-height: 1em;
      letter-spacing: 0.02em;
      color: $darkBrown;
      margin-top: 0px;
      margin-bottom: 5px;
    }
    .titre {
      font-family: Sailec;
      font-size: sizeToRem(14);
      font-weight: normal;
      font-style: normal;
      line-height: sizeToRem(16);
      letter-spacing: 0.02em;
      color: $darkBrown;
    }
    .email {
      font-family: Sailec;
      font-size: sizeToRem(12);
      color: $paleBrown;
    }
    .active,
    .date {
      font-family: Sailec;
      font-size: sizeToRem(12);
      color: $paleBrown;
    }
    .date {
      text-align: right;
    }

    footer {
      padding-top: 10px;
      text-align: right;

      &>span {
        font-family: Sailec;
        font-size: sizeToRem(12);
        color: $paleBrown;
        margin-right: 10px;
      }
    }
  }
}

#to-switch-myCompany-activeForRoofing {
  .to-switch-wrap {
    flex-direction: row-reverse;
  }
}

.title-with-switch {
  display: flex;
  justify-content: space-between;
}

.form-section-bottom {
  margin-bottom: 20px;
}

.billing-table {
  .service-square {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 5px;
    float: left;
    margin-right: 5px;
  }

  table {
    tbody {
      tr.roofing {
        .service-square {
          background-color: $roofing;
        }
      }
      td {
        a {
          text-decoration: underline;
          color: $darkBrown;
        }
      }
    }
  }
}

@include responsive('normal') {
  .title-with-switch {
    flex-direction: column;
  }

  #to-switch-myCompany-activeForRoofing {
    .to-switch-wrap {
      flex-direction: row;
      margin-bottom: 20px;
    }
  }

  .my-account-forms {
    .myAccount-form-card {
      margin-bottom: 20px;
    }
  }
}

@include responsive('tablet') {
  .title-with-switch {
    flex-direction: column;
  }

  #to-switch-myCompany-activeForRoofing {
    .to-switch-wrap {
      flex-direction: row;
      margin-bottom: 20px;
    }
  }

  .my-account-forms {
    .myAccount-form-card {
      margin-bottom: 20px;
    }
  }
}

@include responsive('phone to tablet') {
  .employees-display {
    .employee-card {
      padding: 20px 40px;

      .active {
        margin-top: 10px;
      }

      .date {
        text-align: left;
      }

      footer {
        padding-top: 10px;
        text-align: right;

        &>span {
          font-family: Sailec;
          font-size: sizeToRem(12);
          color: $paleBrown;
          margin-right: 10px;
        }
      }
    }
  }

  .title-with-switch {
    flex-direction: column;
  }

  #to-switch-myCompany-activeForRoofing {
    .to-switch-wrap {
      flex-direction: row;
      margin-bottom: 20px;
    }
  }

  .my-account-forms {
    .myAccount-form-card {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 640px) {
  .title-with-switch {
    flex-direction: column;
  }

  #to-switch-myCompany-activeForRoofing {
    .to-switch-wrap {
      flex-direction: row;
      margin-bottom: 20px;
    }
  }

  .my-account-forms {
    .myAccount-form-card {
      margin-bottom: 20px;
    }
  }
}