@import '../_base/variables';
@import '../_base/colors';

.to-accordion {
  &-panel {
    &:first-child {
      border-top: 1px solid $veryPaleBrown;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $veryPaleBrown;
    }

    &-title {
      display: block;
      position: relative;
      width: 100%;
      height: 40px;
      font-family: Sailec, Arial, Helvetica, sans-serif;
      font-size: sizeToRem(14);
      line-height: 1.5em;
      padding: 10px 14px 8px;
      text-decoration: none;
      outline: none;
      z-index: 3;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        background-color: $paleGrey;
      }

      .arrow {
        display: block;
        position: absolute;
        top: 11px;
        right: 15px;
        transition: all 600ms $tansitionEase;
      }
    }
    &-content {
      display: block;
      position: relative;
      max-height: 0;
      overflow: hidden;
      transition: max-height 600ms $tansitionEase;
      background-color: #fff;

      .content-wrap {
        font-family: Sailec, Arial, Helvetica, sans-serif;
        font-size: sizeToRem(12);
        line-height: 1.5em;
        padding: 10px 14px 8px;
      }
    }

    &.active {
      .to-accordion-panel-title {
        .arrow {
          transform: scale(-1, -1);
        }
      }
      .to-accordion-panel-content {
        display: block;
        position: relative;
        max-height: 20em;
        overflow: auto;
        transition: max-height 6000ms $tansitionEase;
      }
    }
  }
}