@import '../../../node_modules/conecto-ui-components/dist/_base/colors';
@import '../../../node_modules/conecto-ui-components/dist/_base/functions';
@import '../../../node_modules/conecto-ui-components/dist/_base/mixins';

#materials {
  padding-top: 80px;
  background: url('../_styles/svg/material-bg.svg') no-repeat top center;
  background-size: 100% auto;

  &>.to-grid {
    &>.row {
      .col {
        text-align: center;
      }
    }
  }

  h2 {
    font-family: StyreneA;
    font-size: sizeToRem(40);
    line-height: sizeToRem(41);
    color: $darkBrown;
    font-weight: normal;
    margin-top: sizeToRem(30);
    margin-bottom: sizeToRem(40);
    text-align: center;
  }

  .circle-image {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  h3 {
    font-family: StyreneA;
    font-size: sizeToRem(28);
    line-height: sizeToRem(30);
    color: $darkBrown;
    font-weight: normal;
    margin-top: sizeToRem(30);
    margin-bottom: sizeToRem(20);
    text-align: center;
  }

  p {
    font-family: Sailec;
    font-size: sizeToRem(14);
    line-height: 1.5em;
    color: $darkBrown;
    font-weight: normal;
    margin-bottom: 60px;
  }
}

@include responsive('normal') {
  #materials {
    background: url('../_styles/svg/material-bg.svg') no-repeat top left;
    background-size: auto 100%;

    h2 {
      font-size: sizeToRem(28);
      line-height: sizeToRem(30);
    }

    h3 {
      font-size: sizeToRem(18);
      line-height: sizeToRem(20);
    }
  }
}

@include responsive('tablet') {
  #materials {
    background: url('../_styles/svg/material-bg.svg') no-repeat top left;
    background-size: auto 100%;

    h2 {
      font-size: sizeToRem(28);
      line-height: sizeToRem(30);
    }

    h3 {
      font-size: sizeToRem(18);
      line-height: sizeToRem(20);
    }
  }
}

@include responsive('phone to tablet') {
  #materials {
    background: url('../_styles/svg/material-bg.svg') no-repeat top left;
    background-size: auto 100%;

    h2 {
      font-size: sizeToRem(28);
      line-height: sizeToRem(30);
    }

    h3 {
      font-size: sizeToRem(18);
      line-height: sizeToRem(20);
    }
  }
}