@import '../_base/variables';

.to-btn-group {
  display: inline-block;
  position: relative;

  .to-btn {
    box-sizing: border-box;

    &:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;

      &.to-btn-primary {
        border-right: 1px solid lighten($green, 10%);
      }
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      border-left: none;

      &.to-btn-primary {
        border-right: 1px solid lighten($green, 10%);
        border-left: 1px solid darken($green, 10%);
      }
    }

    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-left: none;

      &.to-btn-primary {
        border-left: 1px solid darken($green, 10%)
      }
    }
  }
}

.to-btn {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  font-family: Sailec, Arial, Helvetica, sans-serif;
  font-size: sizeToRem(14);
  text-align: center;
  line-height: 1.5em;
  min-height: 35px;
  padding: 8px 25px 6px;
  border: 0;
  border-radius: 30px;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  &.is-disabled {
    opacity: 0.25;
    cursor: default;
  }

  .to-icon {
    line-height: 1em;
    margin-right: 10px;
  }

  &-primary {
    color: #ffffff;
    background-color: $green;
    box-shadow: 0px 0px 0px rgba($green, 0);

    &::before {
      box-shadow: 0px 6px 8px rgba($green, 0.25);
    }

    .to-icon {
      float: left;
      margin-top: 2px;
    }
  }

  &-bordered {
    min-height: 30px;
    color: $darkBrown;
    font-size : sizeToRem(12);
    padding: 6px 20px 4px;
    border: 1px solid $darkBrown;
    background-color: transparent;
    box-shadow: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

    .to-icon {
      float: left;
      margin-top: 1px;
    }

    &.active {
      color: #fff;
      background-color: $darkBrown;
    }

    &:not(.is-disabled){
      &:hover {
        color: #fff;
        background-color: $darkBrown;
      }
    }
  }

  &-ghost {
    height: 30px;
    color: $darkBrown;
    font-size : sizeToRem(12);
    padding: 7px 20px 6px;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

    .to-icon {
      float: left;
      margin-top: 1px;
    }

    &.active {
      color: #fff;
      background-color: $darkBrown;
    }

    &:not(.is-disabled){
      &:hover {
        color: #fff;
        background-color: $darkBrown;
      }
    }
  }

  &-underlined {
    min-height: auto;
    color: $paleBrown;
    font-size : sizeToRem(10);
    padding: 0px 0px 8px;
    border-bottom: 2px solid $paleBrown;
    background-color: transparent;
    box-shadow: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border-radius: 0;
    top: -2px;

    .to-icon {
      float: left;
      margin-top: 1px;
    }

    &.active {
      color: $darkBrown;
      border-bottom: 2px solid $darkBrown;
    }

    &:not(.is-disabled){
      &:hover {
        color: $darkBrown;
        border-bottom: 2px solid $darkBrown;
      }
    }
  }

  &-switch {
    height: 30px;
    color: $darkBrown;
    font-size : sizeToRem(12);
    padding: 9px 20px 5px;
    border: 1px solid $veryPaleBrown;
    background-color: #fff;
    box-shadow: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

    .to-icon {
      float: left;
      margin-top: 1px;
    }

    &.active {
      border-color: $paleGrey;
      background-color: $paleGrey;
    }

    &:not(.is-disabled){
      &:hover {
        border-color: $paleGrey;
        background-color: $paleGrey;
      }
    }
  }

  &-filter {
    height: 40px;
    color: $darkBrown;
    font-size : sizeToRem(12);
    padding: 8px 20px 6px;
    border: 1px solid $veryPaleBrown;
    background-color: #fff;
    box-shadow: none;
    border-radius: 10px;

    .to-icon {
      float: left;
      margin-top: 1px;
    }

    &.active {
      border-color: $paleGrey;
      background-color: $paleGrey;
    }

    &:not(.is-disabled) {
      &:hover {
        border-color: $paleGrey;
        background-color: $paleGrey;
      }
    }
  }

  &-menu {
    display: inline-block;
    position: relative;
    height: 34px;
    color: $darkBrown;
    font-size : sizeToRem(12);
    padding: 7px 45px 6px 20px;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    cursor: pointer;

    .to-icon {
      display: inline-block;
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $darkBrown;
      top: 0px;
      right: 0px;
      margin-right: 0px;

      .to-icon-menu {
        span {
          color: #ffffff;
        }
      }
    }

    &:hover {
      .to-icon {
        background-color: $paleBrown;
      }
    }

    &.active {
      .to-icon {
        background-color: $paleBrown;

        .to-icon-menu {
          span:first-child  {
            transform: rotate(45deg);
            top: 50%;
          }
          span:last-child  {
            transform: rotate(-45deg);
            top: 50%;
          }
        }
      }
    }
  }

  &-account {
    display: inline-block;
    position: relative;
    height: 34px;
    color: $darkBrown;
    font-size : sizeToRem(12);
    padding: 7px 20px 6px 45px;
    border: 0px;
    background-color: transparent;
    box-shadow: none;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    cursor: pointer;

    .to-icon {
      display: inline-block;
      position: absolute;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: $green;
      top: 0px;
      left: 0px;
      margin-left: 0px;
      color: #ffffff;
      font-size: 14px;
      line-height: 34px;
    }

    &:hover {
      .to-icon {
        background-color: $paleGreen;
      }
    }

    &.active {
      .to-icon {
        background-color: $paleGreen;
      }
    }
  }

  &::before {
    /* Position the pseudo-element. */
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 30px;

    /* Hidden by default. */
    opacity: 0;
    transition: opacity 500ms $tansitionEase;
  }

  &:not(.is-disabled) {
    &:hover::before {
      opacity: 1;
    }
  }

  &.active::before {
    opacity: 1;
  }
}

.to-btn-dropdown-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;

  .to-btn-dropdown-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
    width: auto;
    max-height: 90vh;
    min-width: 100%;
    font-family: Sailec, 'sans-serif';
    font-size: sizeToRem(12);
    line-height: 1.5em;
    z-index: 1;
    border: 1px solid $veryPaleBrown;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0;
    background-color: #fff;
    box-shadow: $boxShadow;

    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        display: block;
        position: relative;
        text-align: left;

        a {
          display: block;
          position: relative;
          padding: 12px 14px 0px;
          height: 40px;
          color: $darkBrown;
          text-decoration: none;
        }

        &.selected,
        &:hover {
          background-color: $paleGrey;
        }

        &:first-child {
          border-radius: 10px 10px 0 0;
        }

        &:last-child {
          border-radius: 0 0 10px 10px;
        }

        &:not(:first-child) {
          border-top: 1px solid $veryPaleBrown;
        }
      }
    }
  }

  &.active {
    overflow: visible;
    z-index: 4;

    .to-btn-dropdown-menu {
      right: 0;
      height: auto;
      overflow: auto;
      width: auto;
      white-space: nowrap;
      opacity: 1;
      transition: opacity 600ms $tansitionEase, height 300ms $tansitionEase, top 100ms $tansitionEase;
    }
  }
}